@import '@economist/component-d3-xaxis';
@import '@economist/component-d3-yaxis';
@import '@economist/component-d3-series-bars';

#outerwrapper {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 500px;
  height: 350px;
  background-color: #dfdfdf;
}

.chart-outer-wrapper {
  width: 100%;
  height: 100%;
}

.chart-inner-wrapper {
  width: 100%;
  height: 100%;
}

.svg-wrapper {
  width: 100%;
  height: 100%;
}